[submodule "src/smartdesk-insight"]
	path = src/smartdesk-insight
	url = https://github.com/allenlilisec/smartdesk-insight.git
[submodule "src/smartdesk-core"]
	path = src/smartdesk-core
	url = https://github.com/allenlilisec/smartdesk-core.git
[submodule "src/smartdesk-gateway"]
	path = src/smartdesk-gateway
	url = https://github.com/allenlilisec/smartdesk-gateway.git
