[submodule "src/smartdesk-insight"]
	path = src/smartdesk-insight
	url = https://github.com/allenlilisec/smartdesk-insight.git
[submodule "smartdesk-web"]
	path = smartdesk-web
	url = https://github.com/allenlilisec/smartdesk-web.git
